
h1 {
  font-size:50px;
  text-align:center;
}

.name {
  width:300px;
}

.tell_number {
  width:300px;
}

.adress {
  width:300px;
}

.home_adress {
  width:300px;
}

.textbox {
  width:300px;
  height:150px;
}

.form {
  margin:10px;


}


.contact {
  width:80%;
  padding-right:40px;
  padding-left:40px;

}

.show_pop {
  text-align:center;
}

.submit {
  width:100px;
}

.modal_pop{
      width: 100vw;
      height: 100vh;
      position:fixed;
      top: 0;
      left:0;
      z-index:9996!important;
  }
  .bg{
      background-color: #1119;
      width: 100%;
      height: 100%;
      position:fixed;
      z-index:9997!important;
  }
  .modal_pop img{
      height:80vh;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index:9998!important;
  }

  h2 {
    position: fixed;
    /* text-align: center; */
    z-index:9999!important;
    width:100%;
    margin-top:800px;
    margin-right:100px;
    margin-left:100px;
    font-size:3rem;
  } 


